<h2>List of Purchases</h2>
<div id="purchase-list">
  <div *ngFor="let purchase of purchases; let i = index">
    <span>Purchase:     {{purchase.name}}</span><br>
    <span>Purchased by: {{purchase.user}}</span><br>
    <span>Price:        {{purchase.price}}</span><br>
    <span>Purchased at: {{purchase.purchasedAt}}</span><br>
    <button name="delete" (click)="deletePurchase(i)">Delete</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/editPurchase', purchase.id]">Edit</button>
    <br><br>
  </div>
  <div id="sum-of-purchases">Sum of all purchases: {{sumOfAllPurchases}}</div>
  <br><br>
</div>

<h2>Price of purchases by user</h2>
<div id="purchases-by-user">
  <div *ngFor="let key of objectKeys(sumOfPurchasesByUser)">
    {{key}}: {{sumOfPurchasesByUser[key]}}
  </div>
</div>

<button class="nav-item nav-link-edit" [routerLink]="['/createPurchase']">Create new Purchase</button>

