<form>
  User:
  <select name="user" id="select-users" [(ngModel)]="purchase.user">
    <option *ngFor="let user of users" [value]="user.username">
      {{user.username}}
    </option>
  </select>
  <br>
  Product:
  <input name="productName" type="text" [(ngModel)]="purchase.name">
  <br>
  Price:
  <input name="price" type="number" [(ngModel)]="purchase.price">
  <br>
  Purchased at:
  <input name="price" type="date" [(ngModel)]="purchase.purchasedAt">
  <button name="submit" (click)="postPurchase()">Submit purchase</button>
  <br>
  <div>{{responseMessage}}</div>
</form>
